<div class="cell-md-12 cell-12">
  <div class="mat-content" class="chat">
    <mat-card tdMediaToggle="gt-xs">
      <mat-card-subtitle>Console</mat-card-subtitle>
      <mat-list >

          <mat-list-item class="pad-top pad-bottom" *ngFor="let item of this.messages">
            <h3 matLine class="cursor-pointer"> <b [style.color] = "item.color">{{item.senderPib}}</b>: <span class="tc-grey-500 md-caption">{{item.date}}</span></h3>
            <div matLine>
              <div class="text-wrap" style="word-wrap:break-word;">
                <b style="padding-left: 1rem; cursor: pointer;" *ngIf="this.item.message[0] === '/'" (click)="saveCommand(item.message)">{{item.message}}</b>
                <b style="padding-left: 1rem;" *ngIf="this.item.message[0] !== '/'">{{item.message}}</b>
              </div>
            </div>
          </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
  <mat-divider></mat-divider>

  <mat-card>
    <div layout="row" layout-align="start center">
      <mat-form-field style="width: 100%" flex layout="row" floatPlaceholder="never">
        <textarea [(ngModel)]="this.message" style="width: 100%" matInput placeholder="message"></textarea>

      </mat-form-field>
      <button  [disabled]="this.message.length == 0" type="submit" color="primary" mat-raised-button mat-button (click)="this.Send()">Send</button>
      <button  type="submit" [disabled] = "this.isLoading" style="margin-left: 1rem;" color="primary" mat-raised-button mat-button (click)="this.Help()">Help</button>
      <button  [disabled]="this.messages.length === 0" style="margin-left: 1rem;" type="submit" color="primary" mat-raised-button mat-button (click)="this.Clear()">Clear</button>
    </div>
  </mat-card>
</div>
