<h1 mat-dialog-title>EDIT SUBJECTS</h1>
<div mat-dialog-content>
  <mat-form-field class="cell-12">
    <mat-chip-list #chipList aria-label="Subjects selection">
      <mat-chip
        *ngFor="let el of subjects"
        [selectable]="selectable"
        [removable]="removable"
        color="accent"
        (removed)="remove(el)">
        {{el.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Subjects"
        #fruitInput
        [formControl]="fruitCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let el of allSubjects" [value]="el">
        {{el.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button (click)="close()" [disabled]="this.isLoading" [class.spinner]="this.isLoading" mat-button>Close</button>
</div>
