

<div class="container-fluid">
  <button mat-raised-button color="primary" (click)="addUser()"> Add an user</button>
  <br>
  <mat-divider></mat-divider>
  <br>
  <mat-form-field class="cell-12">
    <mat-label>Filter</mat-label>
    <input class="cell-12" matInput (keyup)="applyFilter($event)" placeholder="Filter...">
  </mat-form-field>
  <br>
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Progress Column -->
    <ng-container matColumnDef="pib">
      <th mat-header-cell *matHeaderCellDef> PIB </th>
      <td mat-cell *matCellDef="let row"> <p *ngIf="row.pib && row.id !== myUID"> {{row.pib}} </p>  <p *ngIf="row.pib && row.id === myUID" style="color: darkred;"> {{row.pib}} </p>  <strong  *ngIf="row.pib.trim().length == 0">[UNKNOWN]</strong>  </td>
    </ng-container>
    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef> Roles </th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="accent" style="margin-right: 1rem" (click)="onRoles(row.id)">Roles</button>
        <!-- <button mat-raised-button color="primary" *ngIf="row.isTeacher" style="margin-right: 1rem" (click)="editClasses(row.id)">Edit classes</button> -->
        <button mat-raised-button color="primary"  *ngIf="row.isTeacher" style="margin-right: 1rem" (click)="editSubjects(row.id)">Edit subjects</button>
        <button mat-raised-button color="primary"  *ngIf="row.isStudent" style="margin-right: 1rem" (click)="editClass(row.id)">Change a class</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator #paginator [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
