<mat-card>
  <mat-card-content>

    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="currentPassword">
        <form [formGroup]="currentPassword">
          <ng-template matStepLabel>Current password</ng-template>
          <mat-form-field class="cell-md-5 cell-12">
            <input type="password" class="cell-md-6 cell-12" matInput placeholder="Current password"
              formControlName="password" required>
          </mat-form-field>
          <div>
            <button mat-raised-button color="primary" [disabled]="this.currentPassword.invalid"
              matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="newPasswrod">
        <form [formGroup]="newPasswrod">
          <ng-template matStepLabel>New Password</ng-template>
          <mat-form-field class="cell-md-6 cell-12">
            <input type="password" matInput placeholder="New Password" formControlName="password" required>
          </mat-form-field>
          <br>
          <mat-form-field class="cell-md-6 cell-12">
            <input type="password" matInput placeholder="Confirm Password" formControlName="confirm" required>
          </mat-form-field>
          <div>
            <button mat-raised-button color="accent" style="margin-right: 1rem;" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" [disabled]="this.newPasswrod.invalid"
              (click)="this.onSubmit(stepper)">Change</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Result</ng-template>
        Your password has been changed!
        <div>
          <button mat-raised-button color="primary" (click)=" stepper.reset()">Ok</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

  </mat-card-content>
</mat-card>
