<mat-tab-group (selectedIndexChange)="onChange($event)" mat-align-tabs="center" animationDuration="2000ms">
  <mat-tab *ngFor="let item of this.types" label="{{item}}">
  </mat-tab>
</mat-tab-group>
<h1 *ngIf="this.homeworks.length === 0" class="cell-12" style="text-align: center;">No homeworks yet.</h1>
<div class="row">

  <mat-card class="cell-11 cell-md-3" style="margin: 1rem;" *ngFor="let item of this.homeworks">
    <mat-card-title>{{ item.subject }}</mat-card-title>
    <mat-card-subtitle>{{ item.theme }}</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content style="height: auto; text-align: center; flex:content">
      <a
        [href]="this.fileAPI + this.item.path"
        class="cell-11"
        target="_blank"
        style="margin: 1rem;"
        mat-raised-button
        color="primary"
        download="download"
        >Download</a
      >
      <input id="fileSelector" type="file" style="display: none;" />
     <button class="cell-11" *ngIf="this.item.status === types[0]" style="margin: 1rem;" (click)="upload(item.id)" mat-raised-button color="accent">Upload</button>
     <button class="cell-11" *ngIf="this.item.status === types[1]" style="margin: 1rem;" (click)="remove(item.id)" mat-raised-button color="warn">Remove</button>
     <h2 class="cell-12" style="text-align: center " *ngIf="this.item.status === types[2]">Mark: {{item.mark}}</h2>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-footer style="text-align: center">
      <h3>To: {{ item.todate }}</h3>
    </mat-card-footer>
  </mat-card>
</div>
