html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  height: 1000000%;
  overflow-x: hidden;
  background-color: #ffffff;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
base,
basefont,
datalist,
head,
meta,
script,
style,
title,
noembed,
param,
template {
  display: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}
[tabindex="-1"]:focus {
  outline: none !important;
}
[hidden] {
  display: none !important;
}
template {
  display: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
a,
area,
button,
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
svg:not(:root) {
  overflow: hidden;
}
img {
  vertical-align: middle;
  border-style: none;
}
[hidden] {
  display: none;
}
div {
  position: relative;
}
.container,
.container2,
.container-fluid,
section,
header,
footer,
aside {
  display: block;
  position: relative;
  margin: 0 auto;
}
.container::after,
.container2::after,
.container-fluid::after,
section::after,
header::after,
footer::after,
aside::after {
  display: block;
  clear: both;
  content: "";
}
.container,
.container2 {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
}
.container-fluid {
  width: 100%;
  max-width: none;
  padding-right: 12px;
  padding-left: 12px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .container2 {
    max-width: 90%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container2 {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container2 {
    max-width: 1140px;
  }
}
@media (min-width: 1452px) {
  .container,
  .container2 {
    max-width: 1360px;
  }
}
.container-fs {
  max-width: 0 !important;
}
.container-sm {
  max-width: 576px !important;
}
.container-md {
  max-width: 768px !important;
}
.container-lg {
  max-width: 992px !important;
}
.container-xl {
  max-width: 1200px !important;
}
.container-xxl {
  max-width: 1452px !important;
}
.visible {
  visibility: visible !important;
}
.no-visible {
  visibility: hidden !important;
}
.d-none {
  display: none!important;
}
.d-block {
  display: block!important;
}
.d-inline {
  display: inline!important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-table {
  display: table!important;
}
.d-table-row {
  display: table-row !important;
}
.d-table-cell {
  display: table-cell !important;
}
.d-flex {
  display: flex!important;
}
.d-inline-flex {
  display: inline-flex !important;
}
html.metro-touch-device .d-none-touch {
  display: none!important;
}
html.metro-touch-device .d-block-touch {
  display: block!important;
}
html.metro-touch-device .d-inline-touch {
  display: inline!important;
}
html.metro-touch-device .d-inline-block-touch {
  display: inline-block !important;
}
html.metro-touch-device .d-table-touch {
  display: table!important;
}
html.metro-touch-device .d-table-row-touch {
  display: table-row !important;
}
html.metro-touch-device .d-table-cell-touch {
  display: table-cell !important;
}
html.metro-touch-device .d-flex-touch {
  display: flex!important;
}
html.metro-touch-device .d-inline-flex-touch {
  display: inline-flex !important;
}
html.metro-no-touch-device .d-none-no-touch {
  display: none!important;
}
html.metro-no-touch-device .d-block-no-touch {
  display: block!important;
}
html.metro-no-touch-device .d-inline-no-touch {
  display: inline!important;
}
html.metro-no-touch-device .d-inline-block-no-touch {
  display: inline-block !important;
}
html.metro-no-touch-device .d-table-no-touch {
  display: table!important;
}
html.metro-no-touch-device .d-table-row-no-touch {
  display: table-row !important;
}
html.metro-no-touch-device .d-table-cell-no-touch {
  display: table-cell !important;
}
html.metro-no-touch-device .d-flex-no-touch {
  display: flex!important;
}
html.metro-no-touch-device .d-inline-flex-no-touch {
  display: inline-flex !important;
}
@media screen and (min-width: 0) {
  .visible-fs {
    visibility: visible !important;
  }
  .no-visible-fs {
    visibility: hidden !important;
  }
  .d-none-fs {
    display: none!important;
  }
  .d-block-fs {
    display: block!important;
  }
  .d-inline-fs {
    display: inline!important;
  }
  .d-inline-block-fs {
    display: inline-block !important;
  }
  .d-table-fs {
    display: table!important;
  }
  .d-table-row-fs {
    display: table-row !important;
  }
  .d-table-cell-fs {
    display: table-cell !important;
  }
  .d-flex-fs {
    display: flex!important;
  }
  .d-inline-flex-fs {
    display: inline-flex !important;
  }
  html.metro-touch-device .d-none-touch-fs {
    display: none!important;
  }
  html.metro-touch-device .d-block-touch-fs {
    display: block!important;
  }
  html.metro-touch-device .d-inline-touch-fs {
    display: inline!important;
  }
  html.metro-touch-device .d-inline-block-touch-fs {
    display: inline-block !important;
  }
  html.metro-touch-device .d-table-touch-fs {
    display: table!important;
  }
  html.metro-touch-device .d-table-row-touch-fs {
    display: table-row !important;
  }
  html.metro-touch-device .d-table-cell-touch-fs {
    display: table-cell !important;
  }
  html.metro-touch-device .d-flex-touch-fs {
    display: flex!important;
  }
  html.metro-touch-device .d-inline-flex-touch-fs {
    display: inline-flex !important;
  }
  html.metro-no-touch-device .d-none-no-touch-fs {
    display: none!important;
  }
  html.metro-no-touch-device .d-block-no-touch-fs {
    display: block!important;
  }
  html.metro-no-touch-device .d-inline-no-touch-fs {
    display: inline!important;
  }
  html.metro-no-touch-device .d-inline-block-no-touch-fs {
    display: inline-block !important;
  }
  html.metro-no-touch-device .d-table-no-touch-fs {
    display: table!important;
  }
  html.metro-no-touch-device .d-table-row-no-touch-fs {
    display: table-row !important;
  }
  html.metro-no-touch-device .d-table-cell-no-touch-fs {
    display: table-cell !important;
  }
  html.metro-no-touch-device .d-flex-no-touch-fs {
    display: flex!important;
  }
  html.metro-no-touch-device .d-inline-flex-no-touch-fs {
    display: inline-flex !important;
  }
}
@media screen and (min-width: 576px) {
  .visible-sm {
    visibility: visible !important;
  }
  .no-visible-sm {
    visibility: hidden !important;
  }
  .d-none-sm {
    display: none!important;
  }
  .d-block-sm {
    display: block!important;
  }
  .d-inline-sm {
    display: inline!important;
  }
  .d-inline-block-sm {
    display: inline-block !important;
  }
  .d-table-sm {
    display: table!important;
  }
  .d-table-row-sm {
    display: table-row !important;
  }
  .d-table-cell-sm {
    display: table-cell !important;
  }
  .d-flex-sm {
    display: flex!important;
  }
  .d-inline-flex-sm {
    display: inline-flex !important;
  }
  html.metro-touch-device .d-none-touch-sm {
    display: none!important;
  }
  html.metro-touch-device .d-block-touch-sm {
    display: block!important;
  }
  html.metro-touch-device .d-inline-touch-sm {
    display: inline!important;
  }
  html.metro-touch-device .d-inline-block-touch-sm {
    display: inline-block !important;
  }
  html.metro-touch-device .d-table-touch-sm {
    display: table!important;
  }
  html.metro-touch-device .d-table-row-touch-sm {
    display: table-row !important;
  }
  html.metro-touch-device .d-table-cell-touch-sm {
    display: table-cell !important;
  }
  html.metro-touch-device .d-flex-touch-sm {
    display: flex!important;
  }
  html.metro-touch-device .d-inline-flex-touch-sm {
    display: inline-flex !important;
  }
  html.metro-no-touch-device .d-none-no-touch-sm {
    display: none!important;
  }
  html.metro-no-touch-device .d-block-no-touch-sm {
    display: block!important;
  }
  html.metro-no-touch-device .d-inline-no-touch-sm {
    display: inline!important;
  }
  html.metro-no-touch-device .d-inline-block-no-touch-sm {
    display: inline-block !important;
  }
  html.metro-no-touch-device .d-table-no-touch-sm {
    display: table!important;
  }
  html.metro-no-touch-device .d-table-row-no-touch-sm {
    display: table-row !important;
  }
  html.metro-no-touch-device .d-table-cell-no-touch-sm {
    display: table-cell !important;
  }
  html.metro-no-touch-device .d-flex-no-touch-sm {
    display: flex!important;
  }
  html.metro-no-touch-device .d-inline-flex-no-touch-sm {
    display: inline-flex !important;
  }
}
@media screen and (min-width: 768px) {
  .visible-md {
    visibility: visible !important;
  }
  .no-visible-md {
    visibility: hidden !important;
  }
  .d-none-md {
    display: none!important;
  }
  .d-block-md {
    display: block!important;
  }
  .d-inline-md {
    display: inline!important;
  }
  .d-inline-block-md {
    display: inline-block !important;
  }
  .d-table-md {
    display: table!important;
  }
  .d-table-row-md {
    display: table-row !important;
  }
  .d-table-cell-md {
    display: table-cell !important;
  }
  .d-flex-md {
    display: flex!important;
  }
  .d-inline-flex-md {
    display: inline-flex !important;
  }
  html.metro-touch-device .d-none-touch-md {
    display: none!important;
  }
  html.metro-touch-device .d-block-touch-md {
    display: block!important;
  }
  html.metro-touch-device .d-inline-touch-md {
    display: inline!important;
  }
  html.metro-touch-device .d-inline-block-touch-md {
    display: inline-block !important;
  }
  html.metro-touch-device .d-table-touch-md {
    display: table!important;
  }
  html.metro-touch-device .d-table-row-touch-md {
    display: table-row !important;
  }
  html.metro-touch-device .d-table-cell-touch-md {
    display: table-cell !important;
  }
  html.metro-touch-device .d-flex-touch-md {
    display: flex!important;
  }
  html.metro-touch-device .d-inline-flex-touch-md {
    display: inline-flex !important;
  }
  html.metro-no-touch-device .d-none-no-touch-md {
    display: none!important;
  }
  html.metro-no-touch-device .d-block-no-touch-md {
    display: block!important;
  }
  html.metro-no-touch-device .d-inline-no-touch-md {
    display: inline!important;
  }
  html.metro-no-touch-device .d-inline-block-no-touch-md {
    display: inline-block !important;
  }
  html.metro-no-touch-device .d-table-no-touch-md {
    display: table!important;
  }
  html.metro-no-touch-device .d-table-row-no-touch-md {
    display: table-row !important;
  }
  html.metro-no-touch-device .d-table-cell-no-touch-md {
    display: table-cell !important;
  }
  html.metro-no-touch-device .d-flex-no-touch-md {
    display: flex!important;
  }
  html.metro-no-touch-device .d-inline-flex-no-touch-md {
    display: inline-flex !important;
  }
}
@media screen and (min-width: 992px) {
  .visible-lg {
    visibility: visible !important;
  }
  .no-visible-lg {
    visibility: hidden !important;
  }
  .d-none-lg {
    display: none!important;
  }
  .d-block-lg {
    display: block!important;
  }
  .d-inline-lg {
    display: inline!important;
  }
  .d-inline-block-lg {
    display: inline-block !important;
  }
  .d-table-lg {
    display: table!important;
  }
  .d-table-row-lg {
    display: table-row !important;
  }
  .d-table-cell-lg {
    display: table-cell !important;
  }
  .d-flex-lg {
    display: flex!important;
  }
  .d-inline-flex-lg {
    display: inline-flex !important;
  }
  html.metro-touch-device .d-none-touch-lg {
    display: none!important;
  }
  html.metro-touch-device .d-block-touch-lg {
    display: block!important;
  }
  html.metro-touch-device .d-inline-touch-lg {
    display: inline!important;
  }
  html.metro-touch-device .d-inline-block-touch-lg {
    display: inline-block !important;
  }
  html.metro-touch-device .d-table-touch-lg {
    display: table!important;
  }
  html.metro-touch-device .d-table-row-touch-lg {
    display: table-row !important;
  }
  html.metro-touch-device .d-table-cell-touch-lg {
    display: table-cell !important;
  }
  html.metro-touch-device .d-flex-touch-lg {
    display: flex!important;
  }
  html.metro-touch-device .d-inline-flex-touch-lg {
    display: inline-flex !important;
  }
  html.metro-no-touch-device .d-none-no-touch-lg {
    display: none!important;
  }
  html.metro-no-touch-device .d-block-no-touch-lg {
    display: block!important;
  }
  html.metro-no-touch-device .d-inline-no-touch-lg {
    display: inline!important;
  }
  html.metro-no-touch-device .d-inline-block-no-touch-lg {
    display: inline-block !important;
  }
  html.metro-no-touch-device .d-table-no-touch-lg {
    display: table!important;
  }
  html.metro-no-touch-device .d-table-row-no-touch-lg {
    display: table-row !important;
  }
  html.metro-no-touch-device .d-table-cell-no-touch-lg {
    display: table-cell !important;
  }
  html.metro-no-touch-device .d-flex-no-touch-lg {
    display: flex!important;
  }
  html.metro-no-touch-device .d-inline-flex-no-touch-lg {
    display: inline-flex !important;
  }
}
@media screen and (min-width: 1200px) {
  .visible-xl {
    visibility: visible !important;
  }
  .no-visible-xl {
    visibility: hidden !important;
  }
  .d-none-xl {
    display: none!important;
  }
  .d-block-xl {
    display: block!important;
  }
  .d-inline-xl {
    display: inline!important;
  }
  .d-inline-block-xl {
    display: inline-block !important;
  }
  .d-table-xl {
    display: table!important;
  }
  .d-table-row-xl {
    display: table-row !important;
  }
  .d-table-cell-xl {
    display: table-cell !important;
  }
  .d-flex-xl {
    display: flex!important;
  }
  .d-inline-flex-xl {
    display: inline-flex !important;
  }
  html.metro-touch-device .d-none-touch-xl {
    display: none!important;
  }
  html.metro-touch-device .d-block-touch-xl {
    display: block!important;
  }
  html.metro-touch-device .d-inline-touch-xl {
    display: inline!important;
  }
  html.metro-touch-device .d-inline-block-touch-xl {
    display: inline-block !important;
  }
  html.metro-touch-device .d-table-touch-xl {
    display: table!important;
  }
  html.metro-touch-device .d-table-row-touch-xl {
    display: table-row !important;
  }
  html.metro-touch-device .d-table-cell-touch-xl {
    display: table-cell !important;
  }
  html.metro-touch-device .d-flex-touch-xl {
    display: flex!important;
  }
  html.metro-touch-device .d-inline-flex-touch-xl {
    display: inline-flex !important;
  }
  html.metro-no-touch-device .d-none-no-touch-xl {
    display: none!important;
  }
  html.metro-no-touch-device .d-block-no-touch-xl {
    display: block!important;
  }
  html.metro-no-touch-device .d-inline-no-touch-xl {
    display: inline!important;
  }
  html.metro-no-touch-device .d-inline-block-no-touch-xl {
    display: inline-block !important;
  }
  html.metro-no-touch-device .d-table-no-touch-xl {
    display: table!important;
  }
  html.metro-no-touch-device .d-table-row-no-touch-xl {
    display: table-row !important;
  }
  html.metro-no-touch-device .d-table-cell-no-touch-xl {
    display: table-cell !important;
  }
  html.metro-no-touch-device .d-flex-no-touch-xl {
    display: flex!important;
  }
  html.metro-no-touch-device .d-inline-flex-no-touch-xl {
    display: inline-flex !important;
  }
}
@media screen and (min-width: 1452px) {
  .visible-xxl {
    visibility: visible !important;
  }
  .no-visible-xxl {
    visibility: hidden !important;
  }
  .d-none-xxl {
    display: none!important;
  }
  .d-block-xxl {
    display: block!important;
  }
  .d-inline-xxl {
    display: inline!important;
  }
  .d-inline-block-xxl {
    display: inline-block !important;
  }
  .d-table-xxl {
    display: table!important;
  }
  .d-table-row-xxl {
    display: table-row !important;
  }
  .d-table-cell-xxl {
    display: table-cell !important;
  }
  .d-flex-xxl {
    display: flex!important;
  }
  .d-inline-flex-xxl {
    display: inline-flex !important;
  }
  html.metro-touch-device .d-none-touch-xxl {
    display: none!important;
  }
  html.metro-touch-device .d-block-touch-xxl {
    display: block!important;
  }
  html.metro-touch-device .d-inline-touch-xxl {
    display: inline!important;
  }
  html.metro-touch-device .d-inline-block-touch-xxl {
    display: inline-block !important;
  }
  html.metro-touch-device .d-table-touch-xxl {
    display: table!important;
  }
  html.metro-touch-device .d-table-row-touch-xxl {
    display: table-row !important;
  }
  html.metro-touch-device .d-table-cell-touch-xxl {
    display: table-cell !important;
  }
  html.metro-touch-device .d-flex-touch-xxl {
    display: flex!important;
  }
  html.metro-touch-device .d-inline-flex-touch-xxl {
    display: inline-flex !important;
  }
  html.metro-no-touch-device .d-none-no-touch-xxl {
    display: none!important;
  }
  html.metro-no-touch-device .d-block-no-touch-xxl {
    display: block!important;
  }
  html.metro-no-touch-device .d-inline-no-touch-xxl {
    display: inline!important;
  }
  html.metro-no-touch-device .d-inline-block-no-touch-xxl {
    display: inline-block !important;
  }
  html.metro-no-touch-device .d-table-no-touch-xxl {
    display: table!important;
  }
  html.metro-no-touch-device .d-table-row-no-touch-xxl {
    display: table-row !important;
  }
  html.metro-no-touch-device .d-table-cell-no-touch-xxl {
    display: table-cell !important;
  }
  html.metro-no-touch-device .d-flex-no-touch-xxl {
    display: flex!important;
  }
  html.metro-no-touch-device .d-inline-flex-no-touch-xxl {
    display: inline-flex !important;
  }
}
.order-24 {
  order: 24;
}
.order-23 {
  order: 23;
}
.order-22 {
  order: 22;
}
.order-21 {
  order: 21;
}
.order-20 {
  order: 20;
}
.order-19 {
  order: 19;
}
.order-18 {
  order: 18;
}
.order-17 {
  order: 17;
}
.order-16 {
  order: 16;
}
.order-15 {
  order: 15;
}
.order-14 {
  order: 14;
}
.order-13 {
  order: 13;
}
.order-12 {
  order: 12;
}
.order-11 {
  order: 11;
}
.order-10 {
  order: 10;
}
.order-9 {
  order: 9;
}
.order-8 {
  order: 8;
}
.order-7 {
  order: 7;
}
.order-6 {
  order: 6;
}
.order-5 {
  order: 5;
}
.order-4 {
  order: 4;
}
.order-3 {
  order: 3;
}
.order-2 {
  order: 2;
}
.order-1 {
  order: 1;
}
.flex-equal-items > * {
  flex: 1;
}
.flex-nowrap {
  flex-wrap: nowrap !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-wrap-r {
  flex-wrap: wrap-reverse !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-column-r {
  flex-direction: column-reverse !important;
}
.flex-row {
  flex-direction: row !important;
}
.flex-row-r {
  flex-direction: row-reverse !important;
}
.flex-align-start {
  align-items: flex-start !important;
}
.flex-align-end {
  align-items: flex-end !important;
}
.flex-align-center {
  align-items: center !important;
}
.flex-align-stretch {
  align-items: stretch !important;
}
.flex-align-baseline {
  align-items: baseline !important;
}
.flex-self-start {
  align-self: flex-start !important;
}
.flex-self-end {
  align-self: flex-end !important;
}
.flex-self-center {
  align-self: center !important;
}
.flex-self-stretch {
  align-self: stretch !important;
}
.flex-self-baseline {
  align-self: baseline !important;
}
.flex-justify-start {
  justify-content: flex-start !important;
}
.flex-justify-end {
  justify-content: flex-end !important;
}
.flex-justify-center {
  justify-content: center !important;
}
.flex-justify-between {
  justify-content: space-between !important;
}
.flex-justify-around {
  justify-content: space-around !important;
}
.flex-content-start {
  align-content: flex-start !important;
}
.flex-content-end {
  align-content: flex-end !important;
}
.flex-content-center {
  align-content: center !important;
}
.flex-content-between {
  align-content: space-between !important;
}
.flex-content-around {
  align-content: space-around !important;
}
.flex-content-stretch {
  align-content: stretch !important;
}
.flex-no-shrink > * {
  flex-shrink: 0;
}
.flex-shrink > * {
  flex-shrink: 1;
}
.flex-no-grow > * {
  flex-grow: 0;
}
.flex-grow > * {
  flex-grow: 1;
}
.flex-no-shrink-self {
  flex-shrink: 0;
}
.flex-shrink-self {
  flex-shrink: 1;
}
.flex-no-grow-self {
  flex-grow: 0;
}
.flex-grow-self {
  flex-grow: 1;
}
.flex-right {
  margin-left: auto;
}
.flex-left {
  margin-right: auto;
}
.flex-top {
  margin-bottom: auto;
}
.flex-bottom {
  margin-top: auto;
}
@media screen and (min-width: 0) {
  .flex-nowrap-fs {
    flex-wrap: nowrap !important;
  }
  .flex-wrap-fs {
    flex-wrap: wrap !important;
  }
  .flex-wrap-r-fs {
    flex-wrap: wrap-reverse !important;
  }
  .flex-column-fs {
    flex-direction: column !important;
  }
  .flex-column-r-fs {
    flex-direction: column-reverse !important;
  }
  .flex-row-fs {
    flex-direction: row !important;
  }
  .flex-row-r-fs {
    flex-direction: row-reverse !important;
  }
  .flex-align-start-fs {
    align-items: flex-start !important;
  }
  .flex-align-end-fs {
    align-items: flex-end !important;
  }
  .flex-align-center-fs {
    align-items: center !important;
  }
  .flex-align-stretch-fs {
    align-items: stretch !important;
  }
  .flex-align-baseline-fs {
    align-items: baseline !important;
  }
  .flex-self-start-fs {
    align-self: flex-start !important;
  }
  .flex-self-end-fs {
    align-self: flex-end !important;
  }
  .flex-self-center-fs {
    align-self: center !important;
  }
  .flex-self-stretch-fs {
    align-self: stretch !important;
  }
  .flex-self-baseline-fs {
    align-self: baseline !important;
  }
  .flex-justify-start-fs {
    justify-content: flex-start !important;
  }
  .flex-justify-end-fs {
    justify-content: flex-end !important;
  }
  .flex-justify-center-fs {
    justify-content: center !important;
  }
  .flex-justify-between-fs {
    justify-content: space-between !important;
  }
  .flex-justify-around-fs {
    justify-content: space-around !important;
  }
  .flex-content-start-fs {
    align-content: flex-start !important;
  }
  .flex-content-end-fs {
    align-content: flex-end !important;
  }
  .flex-content-center-fs {
    align-content: center !important;
  }
  .flex-content-between-fs {
    align-content: space-between !important;
  }
  .flex-content-around-fs {
    align-content: space-around !important;
  }
  .flex-content-stretch-fs {
    align-content: stretch !important;
  }
  .flex-no-shrink-fs > * {
    flex-shrink: 0;
  }
  .flex-shrink-fs > * {
    flex-shrink: 1;
  }
  .flex-no-grow-fs > * {
    flex-grow: 0;
  }
  .flex-grow-fs > * {
    flex-grow: 1;
  }
  .flex-no-shrink-self-fs {
    flex-shrink: 0;
  }
  .flex-shrink-self-fs {
    flex-shrink: 1;
  }
  .flex-no-grow-self-fs {
    flex-grow: 0;
  }
  .flex-grow-self-fs {
    flex-grow: 1;
  }
  .flex-right-fs {
    margin-left: auto;
  }
  .flex-left-fs {
    margin-right: auto;
  }
  .flex-top-fs {
    margin-bottom: auto;
  }
  .flex-bottom-fs {
    margin-top: auto;
  }
  .order-fs-24 {
    order: 24;
  }
  .order-fs-23 {
    order: 23;
  }
  .order-fs-22 {
    order: 22;
  }
  .order-fs-21 {
    order: 21;
  }
  .order-fs-20 {
    order: 20;
  }
  .order-fs-19 {
    order: 19;
  }
  .order-fs-18 {
    order: 18;
  }
  .order-fs-17 {
    order: 17;
  }
  .order-fs-16 {
    order: 16;
  }
  .order-fs-15 {
    order: 15;
  }
  .order-fs-14 {
    order: 14;
  }
  .order-fs-13 {
    order: 13;
  }
  .order-fs-12 {
    order: 12;
  }
  .order-fs-11 {
    order: 11;
  }
  .order-fs-10 {
    order: 10;
  }
  .order-fs-9 {
    order: 9;
  }
  .order-fs-8 {
    order: 8;
  }
  .order-fs-7 {
    order: 7;
  }
  .order-fs-6 {
    order: 6;
  }
  .order-fs-5 {
    order: 5;
  }
  .order-fs-4 {
    order: 4;
  }
  .order-fs-3 {
    order: 3;
  }
  .order-fs-2 {
    order: 2;
  }
  .order-fs-1 {
    order: 1;
  }
}
@media screen and (min-width: 576px) {
  .flex-nowrap-sm {
    flex-wrap: nowrap !important;
  }
  .flex-wrap-sm {
    flex-wrap: wrap !important;
  }
  .flex-wrap-r-sm {
    flex-wrap: wrap-reverse !important;
  }
  .flex-column-sm {
    flex-direction: column !important;
  }
  .flex-column-r-sm {
    flex-direction: column-reverse !important;
  }
  .flex-row-sm {
    flex-direction: row !important;
  }
  .flex-row-r-sm {
    flex-direction: row-reverse !important;
  }
  .flex-align-start-sm {
    align-items: flex-start !important;
  }
  .flex-align-end-sm {
    align-items: flex-end !important;
  }
  .flex-align-center-sm {
    align-items: center !important;
  }
  .flex-align-stretch-sm {
    align-items: stretch !important;
  }
  .flex-align-baseline-sm {
    align-items: baseline !important;
  }
  .flex-self-start-sm {
    align-self: flex-start !important;
  }
  .flex-self-end-sm {
    align-self: flex-end !important;
  }
  .flex-self-center-sm {
    align-self: center !important;
  }
  .flex-self-stretch-sm {
    align-self: stretch !important;
  }
  .flex-self-baseline-sm {
    align-self: baseline !important;
  }
  .flex-justify-start-sm {
    justify-content: flex-start !important;
  }
  .flex-justify-end-sm {
    justify-content: flex-end !important;
  }
  .flex-justify-center-sm {
    justify-content: center !important;
  }
  .flex-justify-between-sm {
    justify-content: space-between !important;
  }
  .flex-justify-around-sm {
    justify-content: space-around !important;
  }
  .flex-content-start-sm {
    align-content: flex-start !important;
  }
  .flex-content-end-sm {
    align-content: flex-end !important;
  }
  .flex-content-center-sm {
    align-content: center !important;
  }
  .flex-content-between-sm {
    align-content: space-between !important;
  }
  .flex-content-around-sm {
    align-content: space-around !important;
  }
  .flex-content-stretch-sm {
    align-content: stretch !important;
  }
  .flex-no-shrink-sm > * {
    flex-shrink: 0;
  }
  .flex-shrink-sm > * {
    flex-shrink: 1;
  }
  .flex-no-grow-sm > * {
    flex-grow: 0;
  }
  .flex-grow-sm > * {
    flex-grow: 1;
  }
  .flex-no-shrink-self-sm {
    flex-shrink: 0;
  }
  .flex-shrink-self-sm {
    flex-shrink: 1;
  }
  .flex-no-grow-self-sm {
    flex-grow: 0;
  }
  .flex-grow-self-sm {
    flex-grow: 1;
  }
  .flex-right-sm {
    margin-left: auto;
  }
  .flex-left-sm {
    margin-right: auto;
  }
  .flex-top-sm {
    margin-bottom: auto;
  }
  .flex-bottom-sm {
    margin-top: auto;
  }
  .order-sm-24 {
    order: 24;
  }
  .order-sm-23 {
    order: 23;
  }
  .order-sm-22 {
    order: 22;
  }
  .order-sm-21 {
    order: 21;
  }
  .order-sm-20 {
    order: 20;
  }
  .order-sm-19 {
    order: 19;
  }
  .order-sm-18 {
    order: 18;
  }
  .order-sm-17 {
    order: 17;
  }
  .order-sm-16 {
    order: 16;
  }
  .order-sm-15 {
    order: 15;
  }
  .order-sm-14 {
    order: 14;
  }
  .order-sm-13 {
    order: 13;
  }
  .order-sm-12 {
    order: 12;
  }
  .order-sm-11 {
    order: 11;
  }
  .order-sm-10 {
    order: 10;
  }
  .order-sm-9 {
    order: 9;
  }
  .order-sm-8 {
    order: 8;
  }
  .order-sm-7 {
    order: 7;
  }
  .order-sm-6 {
    order: 6;
  }
  .order-sm-5 {
    order: 5;
  }
  .order-sm-4 {
    order: 4;
  }
  .order-sm-3 {
    order: 3;
  }
  .order-sm-2 {
    order: 2;
  }
  .order-sm-1 {
    order: 1;
  }
}
@media screen and (min-width: 768px) {
  .flex-nowrap-md {
    flex-wrap: nowrap !important;
  }
  .flex-wrap-md {
    flex-wrap: wrap !important;
  }
  .flex-wrap-r-md {
    flex-wrap: wrap-reverse !important;
  }
  .flex-column-md {
    flex-direction: column !important;
  }
  .flex-column-r-md {
    flex-direction: column-reverse !important;
  }
  .flex-row-md {
    flex-direction: row !important;
  }
  .flex-row-r-md {
    flex-direction: row-reverse !important;
  }
  .flex-align-start-md {
    align-items: flex-start !important;
  }
  .flex-align-end-md {
    align-items: flex-end !important;
  }
  .flex-align-center-md {
    align-items: center !important;
  }
  .flex-align-stretch-md {
    align-items: stretch !important;
  }
  .flex-align-baseline-md {
    align-items: baseline !important;
  }
  .flex-self-start-md {
    align-self: flex-start !important;
  }
  .flex-self-end-md {
    align-self: flex-end !important;
  }
  .flex-self-center-md {
    align-self: center !important;
  }
  .flex-self-stretch-md {
    align-self: stretch !important;
  }
  .flex-self-baseline-md {
    align-self: baseline !important;
  }
  .flex-justify-start-md {
    justify-content: flex-start !important;
  }
  .flex-justify-end-md {
    justify-content: flex-end !important;
  }
  .flex-justify-center-md {
    justify-content: center !important;
  }
  .flex-justify-between-md {
    justify-content: space-between !important;
  }
  .flex-justify-around-md {
    justify-content: space-around !important;
  }
  .flex-content-start-md {
    align-content: flex-start !important;
  }
  .flex-content-end-md {
    align-content: flex-end !important;
  }
  .flex-content-center-md {
    align-content: center !important;
  }
  .flex-content-between-md {
    align-content: space-between !important;
  }
  .flex-content-around-md {
    align-content: space-around !important;
  }
  .flex-content-stretch-md {
    align-content: stretch !important;
  }
  .flex-no-shrink-md > * {
    flex-shrink: 0;
  }
  .flex-shrink-md > * {
    flex-shrink: 1;
  }
  .flex-no-grow-md > * {
    flex-grow: 0;
  }
  .flex-grow-md > * {
    flex-grow: 1;
  }
  .flex-no-shrink-self-md {
    flex-shrink: 0;
  }
  .flex-shrink-self-md {
    flex-shrink: 1;
  }
  .flex-no-grow-self-md {
    flex-grow: 0;
  }
  .flex-grow-self-md {
    flex-grow: 1;
  }
  .flex-right-md {
    margin-left: auto;
  }
  .flex-left-md {
    margin-right: auto;
  }
  .flex-top-md {
    margin-bottom: auto;
  }
  .flex-bottom-md {
    margin-top: auto;
  }
  .order-md-24 {
    order: 24;
  }
  .order-md-23 {
    order: 23;
  }
  .order-md-22 {
    order: 22;
  }
  .order-md-21 {
    order: 21;
  }
  .order-md-20 {
    order: 20;
  }
  .order-md-19 {
    order: 19;
  }
  .order-md-18 {
    order: 18;
  }
  .order-md-17 {
    order: 17;
  }
  .order-md-16 {
    order: 16;
  }
  .order-md-15 {
    order: 15;
  }
  .order-md-14 {
    order: 14;
  }
  .order-md-13 {
    order: 13;
  }
  .order-md-12 {
    order: 12;
  }
  .order-md-11 {
    order: 11;
  }
  .order-md-10 {
    order: 10;
  }
  .order-md-9 {
    order: 9;
  }
  .order-md-8 {
    order: 8;
  }
  .order-md-7 {
    order: 7;
  }
  .order-md-6 {
    order: 6;
  }
  .order-md-5 {
    order: 5;
  }
  .order-md-4 {
    order: 4;
  }
  .order-md-3 {
    order: 3;
  }
  .order-md-2 {
    order: 2;
  }
  .order-md-1 {
    order: 1;
  }
}
@media screen and (min-width: 992px) {
  .flex-nowrap-lg {
    flex-wrap: nowrap !important;
  }
  .flex-wrap-lg {
    flex-wrap: wrap !important;
  }
  .flex-wrap-r-lg {
    flex-wrap: wrap-reverse !important;
  }
  .flex-column-lg {
    flex-direction: column !important;
  }
  .flex-column-r-lg {
    flex-direction: column-reverse !important;
  }
  .flex-row-lg {
    flex-direction: row !important;
  }
  .flex-row-r-lg {
    flex-direction: row-reverse !important;
  }
  .flex-align-start-lg {
    align-items: flex-start !important;
  }
  .flex-align-end-lg {
    align-items: flex-end !important;
  }
  .flex-align-center-lg {
    align-items: center !important;
  }
  .flex-align-stretch-lg {
    align-items: stretch !important;
  }
  .flex-align-baseline-lg {
    align-items: baseline !important;
  }
  .flex-self-start-lg {
    align-self: flex-start !important;
  }
  .flex-self-end-lg {
    align-self: flex-end !important;
  }
  .flex-self-center-lg {
    align-self: center !important;
  }
  .flex-self-stretch-lg {
    align-self: stretch !important;
  }
  .flex-self-baseline-lg {
    align-self: baseline !important;
  }
  .flex-justify-start-lg {
    justify-content: flex-start !important;
  }
  .flex-justify-end-lg {
    justify-content: flex-end !important;
  }
  .flex-justify-center-lg {
    justify-content: center !important;
  }
  .flex-justify-between-lg {
    justify-content: space-between !important;
  }
  .flex-justify-around-lg {
    justify-content: space-around !important;
  }
  .flex-content-start-lg {
    align-content: flex-start !important;
  }
  .flex-content-end-lg {
    align-content: flex-end !important;
  }
  .flex-content-center-lg {
    align-content: center !important;
  }
  .flex-content-between-lg {
    align-content: space-between !important;
  }
  .flex-content-around-lg {
    align-content: space-around !important;
  }
  .flex-content-stretch-lg {
    align-content: stretch !important;
  }
  .flex-no-shrink-lg > * {
    flex-shrink: 0;
  }
  .flex-shrink-lg > * {
    flex-shrink: 1;
  }
  .flex-no-grow-lg > * {
    flex-grow: 0;
  }
  .flex-grow-lg > * {
    flex-grow: 1;
  }
  .flex-no-shrink-self-lg {
    flex-shrink: 0;
  }
  .flex-shrink-self-lg {
    flex-shrink: 1;
  }
  .flex-no-grow-self-lg {
    flex-grow: 0;
  }
  .flex-grow-self-lg {
    flex-grow: 1;
  }
  .flex-right-lg {
    margin-left: auto;
  }
  .flex-left-lg {
    margin-right: auto;
  }
  .flex-top-lg {
    margin-bottom: auto;
  }
  .flex-bottom-lg {
    margin-top: auto;
  }
  .order-lg-24 {
    order: 24;
  }
  .order-lg-23 {
    order: 23;
  }
  .order-lg-22 {
    order: 22;
  }
  .order-lg-21 {
    order: 21;
  }
  .order-lg-20 {
    order: 20;
  }
  .order-lg-19 {
    order: 19;
  }
  .order-lg-18 {
    order: 18;
  }
  .order-lg-17 {
    order: 17;
  }
  .order-lg-16 {
    order: 16;
  }
  .order-lg-15 {
    order: 15;
  }
  .order-lg-14 {
    order: 14;
  }
  .order-lg-13 {
    order: 13;
  }
  .order-lg-12 {
    order: 12;
  }
  .order-lg-11 {
    order: 11;
  }
  .order-lg-10 {
    order: 10;
  }
  .order-lg-9 {
    order: 9;
  }
  .order-lg-8 {
    order: 8;
  }
  .order-lg-7 {
    order: 7;
  }
  .order-lg-6 {
    order: 6;
  }
  .order-lg-5 {
    order: 5;
  }
  .order-lg-4 {
    order: 4;
  }
  .order-lg-3 {
    order: 3;
  }
  .order-lg-2 {
    order: 2;
  }
  .order-lg-1 {
    order: 1;
  }
}
@media screen and (min-width: 1200px) {
  .flex-nowrap-xl {
    flex-wrap: nowrap !important;
  }
  .flex-wrap-xl {
    flex-wrap: wrap !important;
  }
  .flex-wrap-r-xl {
    flex-wrap: wrap-reverse !important;
  }
  .flex-column-xl {
    flex-direction: column !important;
  }
  .flex-column-r-xl {
    flex-direction: column-reverse !important;
  }
  .flex-row-xl {
    flex-direction: row !important;
  }
  .flex-row-r-xl {
    flex-direction: row-reverse !important;
  }
  .flex-align-start-xl {
    align-items: flex-start !important;
  }
  .flex-align-end-xl {
    align-items: flex-end !important;
  }
  .flex-align-center-xl {
    align-items: center !important;
  }
  .flex-align-stretch-xl {
    align-items: stretch !important;
  }
  .flex-align-baseline-xl {
    align-items: baseline !important;
  }
  .flex-self-start-xl {
    align-self: flex-start !important;
  }
  .flex-self-end-xl {
    align-self: flex-end !important;
  }
  .flex-self-center-xl {
    align-self: center !important;
  }
  .flex-self-stretch-xl {
    align-self: stretch !important;
  }
  .flex-self-baseline-xl {
    align-self: baseline !important;
  }
  .flex-justify-start-xl {
    justify-content: flex-start !important;
  }
  .flex-justify-end-xl {
    justify-content: flex-end !important;
  }
  .flex-justify-center-xl {
    justify-content: center !important;
  }
  .flex-justify-between-xl {
    justify-content: space-between !important;
  }
  .flex-justify-around-xl {
    justify-content: space-around !important;
  }
  .flex-content-start-xl {
    align-content: flex-start !important;
  }
  .flex-content-end-xl {
    align-content: flex-end !important;
  }
  .flex-content-center-xl {
    align-content: center !important;
  }
  .flex-content-between-xl {
    align-content: space-between !important;
  }
  .flex-content-around-xl {
    align-content: space-around !important;
  }
  .flex-content-stretch-xl {
    align-content: stretch !important;
  }
  .flex-no-shrink-xl > * {
    flex-shrink: 0;
  }
  .flex-shrink-xl > * {
    flex-shrink: 1;
  }
  .flex-no-grow-xl > * {
    flex-grow: 0;
  }
  .flex-grow-xl > * {
    flex-grow: 1;
  }
  .flex-no-shrink-self-xl {
    flex-shrink: 0;
  }
  .flex-shrink-self-xl {
    flex-shrink: 1;
  }
  .flex-no-grow-self-xl {
    flex-grow: 0;
  }
  .flex-grow-self-xl {
    flex-grow: 1;
  }
  .flex-right-xl {
    margin-left: auto;
  }
  .flex-left-xl {
    margin-right: auto;
  }
  .flex-top-xl {
    margin-bottom: auto;
  }
  .flex-bottom-xl {
    margin-top: auto;
  }
  .order-xl-24 {
    order: 24;
  }
  .order-xl-23 {
    order: 23;
  }
  .order-xl-22 {
    order: 22;
  }
  .order-xl-21 {
    order: 21;
  }
  .order-xl-20 {
    order: 20;
  }
  .order-xl-19 {
    order: 19;
  }
  .order-xl-18 {
    order: 18;
  }
  .order-xl-17 {
    order: 17;
  }
  .order-xl-16 {
    order: 16;
  }
  .order-xl-15 {
    order: 15;
  }
  .order-xl-14 {
    order: 14;
  }
  .order-xl-13 {
    order: 13;
  }
  .order-xl-12 {
    order: 12;
  }
  .order-xl-11 {
    order: 11;
  }
  .order-xl-10 {
    order: 10;
  }
  .order-xl-9 {
    order: 9;
  }
  .order-xl-8 {
    order: 8;
  }
  .order-xl-7 {
    order: 7;
  }
  .order-xl-6 {
    order: 6;
  }
  .order-xl-5 {
    order: 5;
  }
  .order-xl-4 {
    order: 4;
  }
  .order-xl-3 {
    order: 3;
  }
  .order-xl-2 {
    order: 2;
  }
  .order-xl-1 {
    order: 1;
  }
}
@media screen and (min-width: 1452px) {
  .flex-nowrap-xxl {
    flex-wrap: nowrap !important;
  }
  .flex-wrap-xxl {
    flex-wrap: wrap !important;
  }
  .flex-wrap-r-xxl {
    flex-wrap: wrap-reverse !important;
  }
  .flex-column-xxl {
    flex-direction: column !important;
  }
  .flex-column-r-xxl {
    flex-direction: column-reverse !important;
  }
  .flex-row-xxl {
    flex-direction: row !important;
  }
  .flex-row-r-xxl {
    flex-direction: row-reverse !important;
  }
  .flex-align-start-xxl {
    align-items: flex-start !important;
  }
  .flex-align-end-xxl {
    align-items: flex-end !important;
  }
  .flex-align-center-xxl {
    align-items: center !important;
  }
  .flex-align-stretch-xxl {
    align-items: stretch !important;
  }
  .flex-align-baseline-xxl {
    align-items: baseline !important;
  }
  .flex-self-start-xxl {
    align-self: flex-start !important;
  }
  .flex-self-end-xxl {
    align-self: flex-end !important;
  }
  .flex-self-center-xxl {
    align-self: center !important;
  }
  .flex-self-stretch-xxl {
    align-self: stretch !important;
  }
  .flex-self-baseline-xxl {
    align-self: baseline !important;
  }
  .flex-justify-start-xxl {
    justify-content: flex-start !important;
  }
  .flex-justify-end-xxl {
    justify-content: flex-end !important;
  }
  .flex-justify-center-xxl {
    justify-content: center !important;
  }
  .flex-justify-between-xxl {
    justify-content: space-between !important;
  }
  .flex-justify-around-xxl {
    justify-content: space-around !important;
  }
  .flex-content-start-xxl {
    align-content: flex-start !important;
  }
  .flex-content-end-xxl {
    align-content: flex-end !important;
  }
  .flex-content-center-xxl {
    align-content: center !important;
  }
  .flex-content-between-xxl {
    align-content: space-between !important;
  }
  .flex-content-around-xxl {
    align-content: space-around !important;
  }
  .flex-content-stretch-xxl {
    align-content: stretch !important;
  }
  .flex-no-shrink-xxl > * {
    flex-shrink: 0;
  }
  .flex-shrink-xxl > * {
    flex-shrink: 1;
  }
  .flex-no-grow-xxl > * {
    flex-grow: 0;
  }
  .flex-grow-xxl > * {
    flex-grow: 1;
  }
  .flex-no-shrink-self-xxl {
    flex-shrink: 0;
  }
  .flex-shrink-self-xxl {
    flex-shrink: 1;
  }
  .flex-no-grow-self-xxl {
    flex-grow: 0;
  }
  .flex-grow-self-xxl {
    flex-grow: 1;
  }
  .flex-right-xxl {
    margin-left: auto;
  }
  .flex-left-xxl {
    margin-right: auto;
  }
  .flex-top-xxl {
    margin-bottom: auto;
  }
  .flex-bottom-xxl {
    margin-top: auto;
  }
  .order-xxl-24 {
    order: 24;
  }
  .order-xxl-23 {
    order: 23;
  }
  .order-xxl-22 {
    order: 22;
  }
  .order-xxl-21 {
    order: 21;
  }
  .order-xxl-20 {
    order: 20;
  }
  .order-xxl-19 {
    order: 19;
  }
  .order-xxl-18 {
    order: 18;
  }
  .order-xxl-17 {
    order: 17;
  }
  .order-xxl-16 {
    order: 16;
  }
  .order-xxl-15 {
    order: 15;
  }
  .order-xxl-14 {
    order: 14;
  }
  .order-xxl-13 {
    order: 13;
  }
  .order-xxl-12 {
    order: 12;
  }
  .order-xxl-11 {
    order: 11;
  }
  .order-xxl-10 {
    order: 10;
  }
  .order-xxl-9 {
    order: 9;
  }
  .order-xxl-8 {
    order: 8;
  }
  .order-xxl-7 {
    order: 7;
  }
  .order-xxl-6 {
    order: 6;
  }
  .order-xxl-5 {
    order: 5;
  }
  .order-xxl-4 {
    order: 4;
  }
  .order-xxl-3 {
    order: 3;
  }
  .order-xxl-2 {
    order: 2;
  }
  .order-xxl-1 {
    order: 1;
  }
}
.grid {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}
.cell {
  flex: 1 0 0;
  max-width: 100%;
  padding: 0 12px;
}
.cell-1,
.cell-2,
.cell-3,
.cell-4,
.cell-5,
.cell-6,
.cell-7,
.cell-8,
.cell-9,
.cell-10,
.cell-11,
.cell-12,
.cell-sx-1,
.cell-sx-2,
.cell-sx-3,
.cell-sx-4,
.cell-sx-5,
.cell-sx-6,
.cell-sx-7,
.cell-sx-8,
.cell-sx-9,
.cell-sx-10,
.cell-sx-11,
.cell-sx-12,
.cell-sm-1,
.cell-sm-2,
.cell-sm-3,
.cell-sm-4,
.cell-sm-5,
.cell-sm-6,
.cell-sm-7,
.cell-sm-8,
.cell-sm-9,
.cell-sm-10,
.cell-sm-11,
.cell-sm-12,
.cell-ld-1,
.cell-ld-2,
.cell-ld-3,
.cell-ld-4,
.cell-ld-5,
.cell-ld-6,
.cell-ld-7,
.cell-ld-8,
.cell-ld-9,
.cell-ld-10,
.cell-ld-11,
.cell-ld-12,
.cell-md-1,
.cell-md-2,
.cell-md-3,
.cell-md-4,
.cell-md-5,
.cell-md-6,
.cell-md-7,
.cell-md-8,
.cell-md-9,
.cell-md-10,
.cell-md-11,
.cell-md-12,
.cell-lg-1,
.cell-lg-2,
.cell-lg-3,
.cell-lg-4,
.cell-lg-5,
.cell-lg-6,
.cell-lg-7,
.cell-lg-8,
.cell-lg-9,
.cell-lg-10,
.cell-lg-11,
.cell-lg-12,
.cell-xl-1,
.cell-xl-2,
.cell-xl-3,
.cell-xl-4,
.cell-xl-5,
.cell-xl-6,
.cell-xl-7,
.cell-xl-8,
.cell-xl-9,
.cell-xl-10,
.cell-xl-11,
.cell-xl-12,
.cell-xxl-1,
.cell-xxl-2,
.cell-xxl-3,
.cell-xxl-4,
.cell-xxl-5,
.cell-xxl-6,
.cell-xxl-7,
.cell-xxl-8,
.cell-xxl-9,
.cell-xxl-10,
.cell-xxl-11,
.cell-xxl-12,
.cell-sx,
.cell-sm,
.cell-ld,
.cell-md,
.cell-lg,
.cell-xl,
.cell-xxl,
.cell-sx-auto,
.cell-sm-auto,
.cell-ld-auto,
.cell-md-auto,
.cell-lg-auto,
.cell-xl-auto,
.cell-xxl-auto,
.cell-sx-full,
.cell-sm-full,
.cell-ld-full,
.cell-md-full,
.cell-lg-full,
.cell-xl-full,
.cell-xxl-full,
.cell-sx-half,
.cell-sm-half,
.cell-ld-half,
.cell-md-half,
.cell-lg-half,
.cell-xl-half,
.cell-xxl-half,
.cell-sx-one-third,
.cell-sm-one-third,
.cell-ld-one-third,
.cell-md-one-third,
.cell-lg-one-third,
.cell-xl-one-third,
.cell-xxl-one-third,
.cell-sx-two-third,
.cell-sm-two-third,
.cell-ld-two-third,
.cell-md-two-third,
.cell-lg-two-third,
.cell-xl-two-third,
.cell-xxl-two-third,
.cell-sx-quarter,
.cell-sm-quarter,
.cell-ld-quarter,
.cell-md-quarter,
.cell-lg-quarter,
.cell-xl-quarter,
.cell-xxl-quarter {
  position: relative;
  display: block;
  padding: 0 12px;
  width: 100%;
  min-height: 1px;
}
.cell-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
.colspan-2,
.cell-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.colspan-3,
.cell-3 {
  flex: 0 0 25.000005%;
  max-width: 25.000005%;
}
.colspan-4,
.cell-4 {
  flex: 0 0 33.33334%;
  max-width: 33.33334%;
}
.colspan-5,
.cell-5 {
  flex: 0 0 41.666675%;
  max-width: 41.666675%;
}
.colspan-6,
.cell-6 {
  flex: 0 0 50.00001%;
  max-width: 50.00001%;
}
.colspan-7,
.cell-7 {
  flex: 0 0 58.333345%;
  max-width: 58.333345%;
}
.colspan-8,
.cell-8 {
  flex: 0 0 66.66668%;
  max-width: 66.66668%;
}
.colspan-9,
.cell-9 {
  flex: 0 0 75.000015%;
  max-width: 75.000015%;
}
.colspan-10,
.cell-10 {
  flex: 0 0 83.33335%;
  max-width: 83.33335%;
}
.colspan-11,
.cell-11 {
  flex: 0 0 91.666685%;
  max-width: 91.666685%;
}
.colspan-12,
.cell-12 {
  flex: 0 0 100.00002%;
  max-width: 100.00002%;
}
.offset-12 {
  margin-left: 100.00002%;
}
.offset-11 {
  margin-left: 91.666685%;
}
.offset-10 {
  margin-left: 83.33335%;
}
.offset-9 {
  margin-left: 75.000015%;
}
.offset-8 {
  margin-left: 66.66668%;
}
.offset-7 {
  margin-left: 58.333345%;
}
.offset-6 {
  margin-left: 50.00001%;
}
.offset-5 {
  margin-left: 41.666675%;
}
.offset-4 {
  margin-left: 33.33334%;
}
.offset-3 {
  margin-left: 25.000005%;
}
.offset-2 {
  margin-left: 16.66667%;
}
.offset-1 {
  margin-left: 8.333335%;
}
.stub {
  flex: none;
  display: block;
  padding: 0 12px;
}
.grid.no-gap .row {
  margin-left: 0;
  margin-right: 0;
}
.grid.no-gap .row .cell,
.grid.no-gap .row .stub {
  padding: 0;
}
.grid.no-gap .row + .row {
  margin-top: 0;
}
.row.no-gap {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
.row.no-gap .cell,
.row.no-gap .stub {
  padding: 0;
}
@media screen and (min-width: 0) {
  .cell-fs-full {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cell-fs-half {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .cell-fs-one-third {
    flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
  }
  .cell-fs-two-third {
    flex: 0 0 66.6666666%;
    max-width: 66.6666666%;
  }
  .cell-fs-quarter {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .cell-fs {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .cell-fs-auto {
    flex: 0 0 auto;
    max-width: none;
  }
  .colspan-fs-1,
  .cell-fs-1 {
    flex: 0 0 8.333335%;
    max-width: 8.333335%;
  }
  .colspan-fs-2,
  .cell-fs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .colspan-fs-3,
  .cell-fs-3 {
    flex: 0 0 25.000005%;
    max-width: 25.000005%;
  }
  .colspan-fs-4,
  .cell-fs-4 {
    flex: 0 0 33.33334%;
    max-width: 33.33334%;
  }
  .colspan-fs-5,
  .cell-fs-5 {
    flex: 0 0 41.666675%;
    max-width: 41.666675%;
  }
  .colspan-fs-6,
  .cell-fs-6 {
    flex: 0 0 50.00001%;
    max-width: 50.00001%;
  }
  .colspan-fs-7,
  .cell-fs-7 {
    flex: 0 0 58.333345%;
    max-width: 58.333345%;
  }
  .colspan-fs-8,
  .cell-fs-8 {
    flex: 0 0 66.66668%;
    max-width: 66.66668%;
  }
  .colspan-fs-9,
  .cell-fs-9 {
    flex: 0 0 75.000015%;
    max-width: 75.000015%;
  }
  .colspan-fs-10,
  .cell-fs-10 {
    flex: 0 0 83.33335%;
    max-width: 83.33335%;
  }
  .colspan-fs-11,
  .cell-fs-11 {
    flex: 0 0 91.666685%;
    max-width: 91.666685%;
  }
  .colspan-fs-12,
  .cell-fs-12 {
    flex: 0 0 100.00002%;
    max-width: 100.00002%;
  }
  .offset-fs-12 {
    margin-left: 100.00002%;
  }
  .offset-fs-11 {
    margin-left: 91.666685%;
  }
  .offset-fs-10 {
    margin-left: 83.33335%;
  }
  .offset-fs-9 {
    margin-left: 75.000015%;
  }
  .offset-fs-8 {
    margin-left: 66.66668%;
  }
  .offset-fs-7 {
    margin-left: 58.333345%;
  }
  .offset-fs-6 {
    margin-left: 50.00001%;
  }
  .offset-fs-5 {
    margin-left: 41.666675%;
  }
  .offset-fs-4 {
    margin-left: 33.33334%;
  }
  .offset-fs-3 {
    margin-left: 25.000005%;
  }
  .offset-fs-2 {
    margin-left: 16.66667%;
  }
  .offset-fs-1 {
    margin-left: 8.333335%;
  }
}
@media screen and (min-width: 576px) {
  .cell-sm-full {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cell-sm-half {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .cell-sm-one-third {
    flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
  }
  .cell-sm-two-third {
    flex: 0 0 66.6666666%;
    max-width: 66.6666666%;
  }
  .cell-sm-quarter {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .cell-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .cell-sm-auto {
    flex: 0 0 auto;
    max-width: none;
  }
  .colspan-sm-1,
  .cell-sm-1 {
    flex: 0 0 8.333335%;
    max-width: 8.333335%;
  }
  .colspan-sm-2,
  .cell-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .colspan-sm-3,
  .cell-sm-3 {
    flex: 0 0 25.000005%;
    max-width: 25.000005%;
  }
  .colspan-sm-4,
  .cell-sm-4 {
    flex: 0 0 33.33334%;
    max-width: 33.33334%;
  }
  .colspan-sm-5,
  .cell-sm-5 {
    flex: 0 0 41.666675%;
    max-width: 41.666675%;
  }
  .colspan-sm-6,
  .cell-sm-6 {
    flex: 0 0 50.00001%;
    max-width: 50.00001%;
  }
  .colspan-sm-7,
  .cell-sm-7 {
    flex: 0 0 58.333345%;
    max-width: 58.333345%;
  }
  .colspan-sm-8,
  .cell-sm-8 {
    flex: 0 0 66.66668%;
    max-width: 66.66668%;
  }
  .colspan-sm-9,
  .cell-sm-9 {
    flex: 0 0 75.000015%;
    max-width: 75.000015%;
  }
  .colspan-sm-10,
  .cell-sm-10 {
    flex: 0 0 83.33335%;
    max-width: 83.33335%;
  }
  .colspan-sm-11,
  .cell-sm-11 {
    flex: 0 0 91.666685%;
    max-width: 91.666685%;
  }
  .colspan-sm-12,
  .cell-sm-12 {
    flex: 0 0 100.00002%;
    max-width: 100.00002%;
  }
  .offset-sm-12 {
    margin-left: 100.00002%;
  }
  .offset-sm-11 {
    margin-left: 91.666685%;
  }
  .offset-sm-10 {
    margin-left: 83.33335%;
  }
  .offset-sm-9 {
    margin-left: 75.000015%;
  }
  .offset-sm-8 {
    margin-left: 66.66668%;
  }
  .offset-sm-7 {
    margin-left: 58.333345%;
  }
  .offset-sm-6 {
    margin-left: 50.00001%;
  }
  .offset-sm-5 {
    margin-left: 41.666675%;
  }
  .offset-sm-4 {
    margin-left: 33.33334%;
  }
  .offset-sm-3 {
    margin-left: 25.000005%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-1 {
    margin-left: 8.333335%;
  }
}
@media screen and (min-width: 768px) {
  .cell-md-full {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cell-md-half {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .cell-md-one-third {
    flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
  }
  .cell-md-two-third {
    flex: 0 0 66.6666666%;
    max-width: 66.6666666%;
  }
  .cell-md-quarter {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .cell-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .cell-md-auto {
    flex: 0 0 auto;
    max-width: none;
  }
  .colspan-md-1,
  .cell-md-1 {
    flex: 0 0 8.333335%;
    max-width: 8.333335%;
  }
  .colspan-md-2,
  .cell-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .colspan-md-3,
  .cell-md-3 {
    flex: 0 0 25.000005%;
    max-width: 25.000005%;
  }
  .colspan-md-4,
  .cell-md-4 {
    flex: 0 0 33.33334%;
    max-width: 33.33334%;
  }
  .colspan-md-5,
  .cell-md-5 {
    flex: 0 0 41.666675%;
    max-width: 41.666675%;
  }
  .colspan-md-6,
  .cell-md-6 {
    flex: 0 0 50.00001%;
    max-width: 50.00001%;
  }
  .colspan-md-7,
  .cell-md-7 {
    flex: 0 0 58.333345%;
    max-width: 58.333345%;
  }
  .colspan-md-8,
  .cell-md-8 {
    flex: 0 0 66.66668%;
    max-width: 66.66668%;
  }
  .colspan-md-9,
  .cell-md-9 {
    flex: 0 0 75.000015%;
    max-width: 75.000015%;
  }
  .colspan-md-10,
  .cell-md-10 {
    flex: 0 0 83.33335%;
    max-width: 83.33335%;
  }
  .colspan-md-11,
  .cell-md-11 {
    flex: 0 0 91.666685%;
    max-width: 91.666685%;
  }
  .colspan-md-12,
  .cell-md-12 {
    flex: 0 0 100.00002%;
    max-width: 100.00002%;
  }
  .offset-md-12 {
    margin-left: 100.00002%;
  }
  .offset-md-11 {
    margin-left: 91.666685%;
  }
  .offset-md-10 {
    margin-left: 83.33335%;
  }
  .offset-md-9 {
    margin-left: 75.000015%;
  }
  .offset-md-8 {
    margin-left: 66.66668%;
  }
  .offset-md-7 {
    margin-left: 58.333345%;
  }
  .offset-md-6 {
    margin-left: 50.00001%;
  }
  .offset-md-5 {
    margin-left: 41.666675%;
  }
  .offset-md-4 {
    margin-left: 33.33334%;
  }
  .offset-md-3 {
    margin-left: 25.000005%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-1 {
    margin-left: 8.333335%;
  }
}
@media screen and (min-width: 992px) {
  .cell-lg-full {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cell-lg-half {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .cell-lg-one-third {
    flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
  }
  .cell-lg-two-third {
    flex: 0 0 66.6666666%;
    max-width: 66.6666666%;
  }
  .cell-lg-quarter {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .cell-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .cell-lg-auto {
    flex: 0 0 auto;
    max-width: none;
  }
  .colspan-lg-1,
  .cell-lg-1 {
    flex: 0 0 8.333335%;
    max-width: 8.333335%;
  }
  .colspan-lg-2,
  .cell-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .colspan-lg-3,
  .cell-lg-3 {
    flex: 0 0 25.000005%;
    max-width: 25.000005%;
  }
  .colspan-lg-4,
  .cell-lg-4 {
    flex: 0 0 33.33334%;
    max-width: 33.33334%;
  }
  .colspan-lg-5,
  .cell-lg-5 {
    flex: 0 0 41.666675%;
    max-width: 41.666675%;
  }
  .colspan-lg-6,
  .cell-lg-6 {
    flex: 0 0 50.00001%;
    max-width: 50.00001%;
  }
  .colspan-lg-7,
  .cell-lg-7 {
    flex: 0 0 58.333345%;
    max-width: 58.333345%;
  }
  .colspan-lg-8,
  .cell-lg-8 {
    flex: 0 0 66.66668%;
    max-width: 66.66668%;
  }
  .colspan-lg-9,
  .cell-lg-9 {
    flex: 0 0 75.000015%;
    max-width: 75.000015%;
  }
  .colspan-lg-10,
  .cell-lg-10 {
    flex: 0 0 83.33335%;
    max-width: 83.33335%;
  }
  .colspan-lg-11,
  .cell-lg-11 {
    flex: 0 0 91.666685%;
    max-width: 91.666685%;
  }
  .colspan-lg-12,
  .cell-lg-12 {
    flex: 0 0 100.00002%;
    max-width: 100.00002%;
  }
  .offset-lg-12 {
    margin-left: 100.00002%;
  }
  .offset-lg-11 {
    margin-left: 91.666685%;
  }
  .offset-lg-10 {
    margin-left: 83.33335%;
  }
  .offset-lg-9 {
    margin-left: 75.000015%;
  }
  .offset-lg-8 {
    margin-left: 66.66668%;
  }
  .offset-lg-7 {
    margin-left: 58.333345%;
  }
  .offset-lg-6 {
    margin-left: 50.00001%;
  }
  .offset-lg-5 {
    margin-left: 41.666675%;
  }
  .offset-lg-4 {
    margin-left: 33.33334%;
  }
  .offset-lg-3 {
    margin-left: 25.000005%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-1 {
    margin-left: 8.333335%;
  }
}
@media screen and (min-width: 1200px) {
  .cell-xl-full {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cell-xl-half {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .cell-xl-one-third {
    flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
  }
  .cell-xl-two-third {
    flex: 0 0 66.6666666%;
    max-width: 66.6666666%;
  }
  .cell-xl-quarter {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .cell-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .cell-xl-auto {
    flex: 0 0 auto;
    max-width: none;
  }
  .colspan-xl-1,
  .cell-xl-1 {
    flex: 0 0 8.333335%;
    max-width: 8.333335%;
  }
  .colspan-xl-2,
  .cell-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .colspan-xl-3,
  .cell-xl-3 {
    flex: 0 0 25.000005%;
    max-width: 25.000005%;
  }
  .colspan-xl-4,
  .cell-xl-4 {
    flex: 0 0 33.33334%;
    max-width: 33.33334%;
  }
  .colspan-xl-5,
  .cell-xl-5 {
    flex: 0 0 41.666675%;
    max-width: 41.666675%;
  }
  .colspan-xl-6,
  .cell-xl-6 {
    flex: 0 0 50.00001%;
    max-width: 50.00001%;
  }
  .colspan-xl-7,
  .cell-xl-7 {
    flex: 0 0 58.333345%;
    max-width: 58.333345%;
  }
  .colspan-xl-8,
  .cell-xl-8 {
    flex: 0 0 66.66668%;
    max-width: 66.66668%;
  }
  .colspan-xl-9,
  .cell-xl-9 {
    flex: 0 0 75.000015%;
    max-width: 75.000015%;
  }
  .colspan-xl-10,
  .cell-xl-10 {
    flex: 0 0 83.33335%;
    max-width: 83.33335%;
  }
  .colspan-xl-11,
  .cell-xl-11 {
    flex: 0 0 91.666685%;
    max-width: 91.666685%;
  }
  .colspan-xl-12,
  .cell-xl-12 {
    flex: 0 0 100.00002%;
    max-width: 100.00002%;
  }
  .offset-xl-12 {
    margin-left: 100.00002%;
  }
  .offset-xl-11 {
    margin-left: 91.666685%;
  }
  .offset-xl-10 {
    margin-left: 83.33335%;
  }
  .offset-xl-9 {
    margin-left: 75.000015%;
  }
  .offset-xl-8 {
    margin-left: 66.66668%;
  }
  .offset-xl-7 {
    margin-left: 58.333345%;
  }
  .offset-xl-6 {
    margin-left: 50.00001%;
  }
  .offset-xl-5 {
    margin-left: 41.666675%;
  }
  .offset-xl-4 {
    margin-left: 33.33334%;
  }
  .offset-xl-3 {
    margin-left: 25.000005%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-1 {
    margin-left: 8.333335%;
  }
}
@media screen and (min-width: 1452px) {
  .cell-xxl-full {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cell-xxl-half {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .cell-xxl-one-third {
    flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
  }
  .cell-xxl-two-third {
    flex: 0 0 66.6666666%;
    max-width: 66.6666666%;
  }
  .cell-xxl-quarter {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .cell-xxl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .cell-xxl-auto {
    flex: 0 0 auto;
    max-width: none;
  }
  .colspan-xxl-1,
  .cell-xxl-1 {
    flex: 0 0 8.333335%;
    max-width: 8.333335%;
  }
  .colspan-xxl-2,
  .cell-xxl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .colspan-xxl-3,
  .cell-xxl-3 {
    flex: 0 0 25.000005%;
    max-width: 25.000005%;
  }
  .colspan-xxl-4,
  .cell-xxl-4 {
    flex: 0 0 33.33334%;
    max-width: 33.33334%;
  }
  .colspan-xxl-5,
  .cell-xxl-5 {
    flex: 0 0 41.666675%;
    max-width: 41.666675%;
  }
  .colspan-xxl-6,
  .cell-xxl-6 {
    flex: 0 0 50.00001%;
    max-width: 50.00001%;
  }
  .colspan-xxl-7,
  .cell-xxl-7 {
    flex: 0 0 58.333345%;
    max-width: 58.333345%;
  }
  .colspan-xxl-8,
  .cell-xxl-8 {
    flex: 0 0 66.66668%;
    max-width: 66.66668%;
  }
  .colspan-xxl-9,
  .cell-xxl-9 {
    flex: 0 0 75.000015%;
    max-width: 75.000015%;
  }
  .colspan-xxl-10,
  .cell-xxl-10 {
    flex: 0 0 83.33335%;
    max-width: 83.33335%;
  }
  .colspan-xxl-11,
  .cell-xxl-11 {
    flex: 0 0 91.666685%;
    max-width: 91.666685%;
  }
  .colspan-xxl-12,
  .cell-xxl-12 {
    flex: 0 0 100.00002%;
    max-width: 100.00002%;
  }
  .offset-xxl-12 {
    margin-left: 100.00002%;
  }
  .offset-xxl-11 {
    margin-left: 91.666685%;
  }
  .offset-xxl-10 {
    margin-left: 83.33335%;
  }
  .offset-xxl-9 {
    margin-left: 75.000015%;
  }
  .offset-xxl-8 {
    margin-left: 66.66668%;
  }
  .offset-xxl-7 {
    margin-left: 58.333345%;
  }
  .offset-xxl-6 {
    margin-left: 50.00001%;
  }
  .offset-xxl-5 {
    margin-left: 41.666675%;
  }
  .offset-xxl-4 {
    margin-left: 33.33334%;
  }
  .offset-xxl-3 {
    margin-left: 25.000005%;
  }
  .offset-xxl-2 {
    margin-left: 16.66667%;
  }
  .offset-xxl-1 {
    margin-left: 8.333335%;
  }
}
