<!-- <div fxLayoutAlign="center" class="container cell-md-8 cell-12">
  <mat-card>
    <mat-calendar [maxDate]="this.maxDate" [minDate]="this.minDate" class="cell-md-8 offset-md-2 cell-12"
      [selected]="selectedDate" (selectedChange)="onSelect($event)">
    </mat-calendar>
  </mat-card>

</div>
<mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="false">
  <mat-card style="max-width: 300px">
    <mat-card-content>
      A material design popover component created using Angular version 8 with the Angular CDK.
    </mat-card-content>
    <mat-card-actions align="right">

    </mat-card-actions>
  </mat-card>
</mde-popover> -->

<app-marks-list></app-marks-list>
